<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
	例如namespace="com.szh.mapper.personMapper"就是com.szh.mapper(包名)+personMapper(personMapper.xml文件去除后缀) -->
<mapper namespace="com.fh.product.category.mapper.CategoryMapper">
    <select id="queryProductCategory" resultType="map">
        select id,name,pid,isDel from product_category where isDel=1;
    </select>

    <select id="queryProductCategoryPid" parameterType="int" resultType="com.fh.product.category.model.Category">
        select * from product_category where isDel=1 and pid=#{pid};
    </select>
    <select id="getDataList" resultType="com.fh.product.category.model.Category">
        select * from product_category where isDel=1;
    </select>
    <insert id="addProductCategory" parameterType="com.fh.product.category.model.Category" keyProperty="id" useGeneratedKeys="true" >
        insert into product_category (name,pid,createDate)
                            values (#{name},#{pid},#{createDate});
    </insert>
    <update id="updateProductCategory" parameterType="com.fh.product.category.model.Category" >
        update product_category set name=#{name},pid=#{pid},updateDate=#{updateDate},isDel=#{newisDel},updatePersonName=#{updatePersonName}
        where id=#{id}
    </update>
    <update id="updateProductCategoryson" parameterType="com.fh.product.category.model.Category" >
        update product_category set isDel=2,updatePersonName=#{updatePersonName}
        where pid=#{id}
    </update>

</mapper>
